.field {
  label {
    display: block;
    color: #9c9cac;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 0;
  }
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
}
.heart {
  width: 26px;
  height: 26px;
  background-image: url(/public/assets/images/icons/icon-heart.svg);

  &.active {
    background-image: url(/public/assets/images/icons/icon-heart-fill.svg);
  }
}


