.right-topbar {
	padding-right: 0px;
	
	.navbar-nav .nav-link {
	    border-left: none;
	}
}
.dropdown-menu {
  font-size: 16px;

  i {
    font-size: 20px;
  }
}

@media screen and (max-width: 765px) {
  .navbar-center {
    display: none;
  }
}

@media screen and (min-width: 765px) {
  .right-topbar .dropdown-lg-collapse {
    display: none;
  }
}