h1, h2, h3, h4, h5, h6 {
    font-family: 'Sarabun', sans-serif;
}
@keyframes slide-in {
  from {left:100%}
  to {left:0}
}
@keyframes slide-out {
  from {left:0}
  to {left:-100%}
}
.slide-in {
  animation-name: slideIn;
  animation-duration: 2s;
}
.slide-out {
  animation-name: slideOut;
  animation-duration: 2s;
}
.step {
  position: absolute;
}
.step2, .step3 {
  left: 100%;
}