h1, h2, h3, h4, h5, h6 {
    font-family: 'Sarabun', sans-serif;
}
@keyframes slide-in {
  from {left:100%}
  to {left:0}
}
@keyframes slide-out {
  from {left:0}
  to {left:-100%}
}
.slide-in {
  animation-name: slide-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}
.slide-in-back {
  animation-name: slide-in;
  animation-duration: 1.5s;
  animation-direction: reverse;
}
.slide-out {
  animation-name: slide-out;
  animation-duration: 1.5s;
  animation-direction: reverse;

}
.slide-out-back {
  animation-name: slide-out;
  animation-duration: 1.5s;
  animation-direction: reverse;
}
.congrats-step {
  position: absolute;
  width: 100%
}
.congrats-step2, .congrats-step3 {
  left: 100%;
}