.user-image {
  width: 130px;
  height: 130px;
  position: relative;
}
.edit-icon {
  position: absolute;
  background: #D1D1D2;
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
  width:30px;
  height: 30px;
  color: black;
  right: 3px;
  bottom: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
}