h1, h2, h3, h4, h5, h6 {
    font-family: 'Sarabun', sans-serif;
}
@keyframes slide-in-left {
  from {left:-100%}
  to {left:0}
}
@keyframes slide-in-right {
  from {left:100%}
  to {left:0}
}
@keyframes slide-out-left {
  from {left:0}
  to {left:-100%}
}
@keyframes slide-out-right {
  from {left:0}
  to {left:100%}
}
.slide-in-left {
  animation-name: slide-in-left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}
.slide-in-right {
  animation-name: slide-in-right;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.slide-out-left {
  animation-name: slide-out-left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.slide-out-right {
  animation-name: slide-out-right;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.congrats-step {
  position: absolute;
  width: 100%
}
.congrats-step2, .congrats-step3, .congrats-step4 {
  left: 100%;
}
.progress-anim {
  animation: progress-anim 2s infinite ease both;
}
@keyframes progress-anim {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
circle {
  fill:rgba(0,0,0,0);
  stroke-width:31.8309886184;
  stroke-dasharray: 33,67,0,0;
  stroke-dashoffset: 25;
  stroke:#007bff;
}
.pie1 {
  -webkit-animation: pie1 3s infinite ease both;
  animation: pie1 6s 1 ease both;
}
/*
 pie percentage made by stroke-dasharray.
 stroke-dasharray format is...

 keyframe 100% : 0 offset this-percentage rest

 I added keyframe 50% for infinite presentation.
*/

/* 1st pie is 40% */
@-webkit-keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
@keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}