.nav-border-bottom .nav-link {
    border-bottom: solid 3px #cacaca;
    color: #cacaca;
    font-size: 1rem;
}
.nav-border-bottom .nav-link.active {
    border-bottom: solid 3px #0069D9;
    color: #0069D9;
 }
 .item {
   display: flex;
   margin-bottom: 1rem;
 }
 .item .icon {
   width: 70px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background: #007bff;
   color: #ffffff;
 }
 .item .details {
   margin-left: 1rem;
 }
 .item h6 {
   font-weight: bold;
   margin-bottom: .25rem;
 }
 .item p {
    margin-bottom: .25rem;

 }
 .title-icon {
   width: 60px;
   height: 60px;
   background: #dedede;
   border-radius: 12px;
   text-align: center;
   vertical-align: middle;
 }
 .title-icon i {
   font-size: 48px;
 }