.part-of-time,.modal .hour {
  cursor: pointer;
  border: solid 1px rgba(0,0,0,0);
  background: #f7f7f7;
}
.part-of-time:hover,.modal .hour:hover {
  border: solid 1px #90C750;
}
.modal .hour.selected {
  /*background-color: #90C750 !important;*/
}
.part-of-time .hr {
  line-height: 9px;
  font-size: 8px;
}
.part-of-time .hr:not(:last-child) {
  border-bottom: solid 1px #a3a3a4;
}
.part-of-time .hr.selected {
  background: #90C750;
}
.part-of-time .hr.selected:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.part-of-time .hr.selected:last-child {
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom: 0px;
}
.checkbox {
  display:block;
}
.checkbox__input input{
    /*opacity: 0;
    width: 1em;
    height: 1em;*/
    position: absolute;
}
.checkbox__input input:checked
 + .hour {
  /*background: #5cb85c;*/
}
.hour.green-glow, .hr.green-glow {
  background: #90C750;
}